
        <div class="alert alert-dark" role="alert">
            <h3>1 USD = {{ UsdToInr }} INR</h3>
          </div>
    
          <div class="alert alert-dark" role="alert">
              <h5>Cex (Price for 1 cryto)</h5>
          </div>
    
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#1</th>
                <th scope="col">USD</th>
                <th scope="col">INR</th>
                <th scope="col">USD(4%)</th>
                <th scope="col">INR(4%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <img class="small" src="https://i.imgur.com/67R21dX.png">
                  Bitcoin</th>
                <td class="yellow">{{ _CexBtcUsd | currency:'USD':true }}</td>
                <td>{{ _CexBtcInr | currency:'INR':true }}</td>
                <td>{{ CexBtcUsd | currency:'USD':true }}</td>
                <td>{{ CexBtcInr | currency:'INR':true }}</td> 
              </tr>
              <tr>
                <th scope="row">
                    <img class="small" src="https://files.startupranking.com/startup/thumb/15101_78f3f21941779ac5e1fcfe3546833ee2efaad45a_bitcash_m.png">
                  Bitcoin Cash</th>
                <td class="yellow">{{ _CexBchUsd | currency:'USD':true }}</td>
                <td>{{ _CexBchInr | currency:'INR':true }}</td>
                <td>{{ CexBchUsd | currency:'USD':true }}</td>
                <td>{{ CexBchInr | currency:'INR':true }}</td>
              </tr>
              <tr>
                <th scope="row">
                  <img class="small" src="https://www.ethereum-price.com/img/ETH.svg"> 
                  Ethereum</th>
                <td class="yellow">{{ _CexEthUsd | currency:'USD':true }}</td>
                <td>{{ _CexEthInr | currency:'INR':true }}</td>
                <td>{{ CexEthUsd | currency:'USD':true }}</td>
                <td>{{ CexEthInr | currency:'INR':true }}</td>
              </tr>
            </tbody>
          </table>
    
          <div class="alert alert-dark" role="alert">
              <h5>Zebpay (Price for 1 cryto)</h5>
          </div>
    
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#1</th>
                <th scope="col">USD</th>
                <th scope="col">INR</th>
                <th scope="col">₹</th>
                <th scope="col">%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <img class="small" src="https://i.imgur.com/67R21dX.png">
                  Bitcoin</th>
                <td>{{ ZebBtcUsd | currency:'USD':true }}</td>
                <td class="yellow">{{ ZebBtcInr | currency:'INR':true }}</td>
                <td [ngClass]="pro" *ngIf="ZebBtcInr >= _CexBtcInr">
                     {{ ZebBtcInr - _CexBtcInr | currency:'INR':true}}
                  </td>
                  <td [ngClass]="warn" *ngIf="_CexBtcInr > ZebBtcInr">
                      -{{ _CexBtcInr - ZebBtcInr | currency:'INR':true}}
                  </td>
  
                  <td [ngClass]="pro" *ngIf="ZebBtcInr >= _CexBtcInr">
                     {{ ((ZebBtcInr - _CexBtcInr)*100/_CexBtcInr).toFixed(2) }}%
                  </td>
                  <td [ngClass]="warn" *ngIf="_CexBtcInr > ZebBtcInr">
                    - {{ ((_CexBtcInr - ZebBtcInr)*100/ZebBtcInr).toFixed(2) }}%
                  </td>

              </tr>
              <tr>
                <th scope="row">
                  <img class="small" src="https://files.startupranking.com/startup/thumb/15101_78f3f21941779ac5e1fcfe3546833ee2efaad45a_bitcash_m.png">
                  Bitcoin Cash</th>
                <td>{{ ZebBchUsd | currency:'USD':true }}</td>
                <td class="yellow">{{ ZebBchInr | currency:'INR':true }}</td>
                <td [ngClass]="pro" *ngIf="ZebBchInr >= _CexBchInr">
                    {{ ZebBchInr - _CexBchInr | currency:'INR':true}}
                  </td>
                  <td [ngClass]="warn" *ngIf="_CexBchInr > ZebBchInr">
                    - {{ _CexBchInr - ZebBchInr | currency:'INR':true}}
                  </td>
  
                  <td [ngClass]="pro" *ngIf="ZebBchInr >= _CexBchInr">
                      {{ ((ZebBchInr - _CexBchInr)*100/_CexBchInr).toFixed(2) }}%
                  </td>
                  <td [ngClass]="warn" *ngIf="_CexBchInr > ZebBchInr">
                    - {{ ((_CexBchInr - ZebBchInr)*100/ZebBchInr).toFixed(2) }}%
                  </td>

              </tr>
              <tr>
                <th scope="row">
                    <img class="small" src="https://www.ethereum-price.com/img/ETH.svg"> 
                  Ethereum</th>
                <td>
                  {{ ZebEthUsd | currency:'USD':true }}
                </td>
                <td class="yellow">{{ ZebEthInr | currency:'INR':true }}</td>

                <td [ngClass]="pro" *ngIf="ZebEthInr >= _CexEthInr">
                  {{ ZebEthInr - _CexEthInr | currency:'INR':true}}
                </td>
                <td [ngClass]="warn" *ngIf="_CexEthInr > ZebEthInr">
                  - {{ _CexEthInr - ZebEthInr | currency:'INR':true}}
                </td>

                <td [ngClass]="pro" *ngIf="ZebEthInr >= _CexEthInr">
                    {{ ((ZebEthInr - _CexEthInr)*100/_CexEthInr).toFixed(2) }}%
                </td>
                <td [ngClass]="warn" *ngIf="_CexEthInr > ZebEthInr">
                   - {{ ((_CexEthInr - ZebEthInr)*100/ZebEthInr).toFixed(2) }}%
                </td>

              </tr>
            </tbody>
          </table>


