<div class="row">
  <div class="col-md-6">
    <div class="alert alert-dark" role="alert">
      <h3><b class="yellow">1 USD = {{ UsdToInr }} INR</b></h3>
      <button
      (click)="onKeyUp('reload')"
      class="btn btn-secondary btn-sm ">Reload</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="alert alert-dark" role="alert">
      <h3>1 USD =
        <input 
          class="input-box"
          [(ngModel)]= "UsdToInr"
          (keyup.enter)="onKeyUp()"
          type="number" >
          INR
      </h3>
    </div>
  </div>
</div>
    
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-dark" role="alert">
              <h5>Cex (Price for 1 cryto)</h5>
            </div>


        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#1</th>
                <th scope="col">USD</th>
                <th scope="col">INR</th>
                <th scope="col">USD(4%)</th>
                <th scope="col">INR(4%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <img class="small" src="{{ btcimg }}">
                  Bitcoin</th>
                <td class="yellow">{{ CexBtcUsd | currency:'USD':true }}</td>
                <td>{{ CexBtcInr | currency:'INR':true }}</td>
                <td>{{ _CexBtcUsd | currency:'USD':true }}</td>
                <td>{{ _CexBtcInr | currency:'INR':true }}</td> 
              </tr>
              <tr>
                <th scope="row">
                    <img class="small" src="{{ bchimg }}">
                  Bitcoin Cash</th>
                <td class="yellow">{{ CexBchUsd | currency:'USD':true }}</td>
                <td>{{ CexBchInr | currency:'INR':true }}</td>
                <td>{{ _CexBchUsd | currency:'USD':true }}</td>
                <td>{{ _CexBchInr | currency:'INR':true }}</td>
              </tr>
              <tr>
                <th scope="row">
                  <img class="small" src="{{ ethimg }}"> 
                  Ethereum</th>
                <td class="yellow">{{ CexEthUsd | currency:'USD':true }}</td>
                <td>{{ CexEthInr | currency:'INR':true }}</td>
                <td>{{ _CexEthUsd | currency:'USD':true }}</td>
                <td>{{ _CexEthInr | currency:'INR':true }}</td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="col-md-6">

              <div class="alert alert-dark" role="alert">
                  <h5>Zebpay (Price for 1 cryto)</h5>
              </div>

              <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#1</th>
                      <th scope="col">USD</th>
                      <th scope="col">INR</th>
                      <th scope="col">₹</th>
                      <th scope="col">%</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <img class="small" src="{{ btcimg }}">
                        Bitcoin
                      </th>
                      <td>
                        {{ ZebBtcUsd | currency:'USD':true }}
                      </td>
                      <td class="yellow">
                        {{ ZebBtcInr | currency:'INR':true }}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebBtcInr >= CexBtcInr">
                        {{ BtcDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="warn" *ngIf="CexBtcInr > ZebBtcInr">
                        {{ BtcDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebBtcInr >= CexBtcInr">
                        {{ BtcDiffPer.toFixed(6) }}%
                      </td>
                      <td [ngClass]="warn" *ngIf="CexBtcInr > ZebBtcInr">
                        {{ BtcDiffPer.toFixed(6) }}%
                      </td>
      
                    </tr>
                    <tr>
                      <th scope="row">
                        <img class="small" src="{{ bchimg }}">
                        Bitcoin Cash</th>
                      <td>
                        {{ ZebBchUsd | currency:'USD':true }}
                      </td>
                      <td class="yellow">
                        {{ ZebBchInr | currency:'INR':true }}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebBchInr >= CexBchInr">
                        {{ BchDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="warn" *ngIf="CexBchInr > ZebBchInr">
                        {{ BchDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebBchInr >= CexBchInr">
                        {{ BchDiffPer.toFixed(6) }}%
                      </td>
                      <td [ngClass]="warn" *ngIf="_CexBchInr > ZebBchInr">
                        {{ BchDiffPer.toFixed(6) }}%
                      </td>
      
                    </tr>
                    <tr>
                      <th scope="row">
                        <img class="small" src="{{ ethimg }}"> 
                        Ethereum</th>
                      <td>
                        {{ ZebEthUsd | currency:'USD':true }}
                      </td>
                      <td class="yellow">
                        {{ ZebEthInr | currency:'INR':true }}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebEthInr >= CexEthInr">
                        {{ EthDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="warn" *ngIf="CexEthInr > ZebEthInr">
                        {{ EthDiff | currency:'INR':true}}
                      </td>
                      <td [ngClass]="pro" *ngIf="ZebEthInr >= CexEthInr">
                        {{ EthDiffPer.toFixed(6) }}%
                      </td>
                      <td [ngClass]="warn" *ngIf="CexEthInr > ZebEthInr">
                        {{ EthDiffPer.toFixed(6) }}%
                      </td>
                    </tr>
                  </tbody>
                </table>

          </div>
        </div>

      <div class="col-12 center">
          <app-invest [UsdToInr]="UsdToInr" ></app-invest>
      </div>
        
    
        


