<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</div>
<div class="col-18 center">

      <form #f="ngForm" (ngSubmit)="save(f.value)" class="eia-bx">
        <div class="invest-label">
          <label for="val">
            <b>Enter Investment Amount</b>
          </label>
        </div>
        <div class="form-group form-grp-cust">
          <input #value="ngModel" name="value" ngModel type="number" class="form-control" placeholder="Rs" required>
          <button  [disabled]="!f.valid" class="btn btn-primary btn-check">Check</button>
        </div>        
      </form>

      <h4 *ngIf="ValUsd" >
        <span class="badge badge-secondary">
          INR: {{ val | currency:'INR':'true' }}
        </span>
        <span class="badge badge-secondary">
          USD: {{ ValUsd | currency:'USD':'true'}}
        </span>
      </h4>
      <br>

   <!--    <table class="table">
        <tr>
          <th>Bitcoin</th>
          <th>Bitcash</th>
          <th>Ethereum</th>
        </tr>
        <tr>

           <td [ngClass]="pro" *ngIf="CexBtcInr >= ZebBtcInr">
            {{ (((value / ZebBtcInr) - ( value / CexBtcInr ))*ZebBtcInr).toFixed(3) | currency:'INR':true }}
          </td>
          <td [ngClass]="warn" *ngIf="ZebBtcInr > CexBtcInr">
            {{ (((value / ZebBtcInr) - ( value / CexBtcInr ))*ZebBtcInr).toFixed(3) | currency:'INR':true }}
          </td> 



          <td [ngClass]="pro" *ngIf="CexBchInr >= ZebBchInr">
              {{ (((value / ZebBchInr) - ( value / CexBchInr ))*ZebBchInr).toFixed(3) | currency:'INR':true }}
            </td>
            <td [ngClass]="warn" *ngIf="ZebBchInr > CexBchInr">
              {{ (((value / ZebBchInr) - ( value / CexBchInr ))*ZebBchInr).toFixed(3) | currency:'INR':true }}
            </td>



            <td [ngClass]="pro" *ngIf="CexEthInr >= ZebEthInr">
                {{ (((value / ZebEthInr) - ( value / CexEthInr ))*ZebEthInr).toFixed(3) | currency:'INR':true }}
              </td>
              <td [ngClass]="warn" *ngIf="ZebEthInr > CexEthInr">
                {{ (((value / ZebEthInr) - ( value / CexEthInr ))*ZebEthInr).toFixed(3) | currency:'INR':true }}
              </td>
            
        </tr>
      </table> -->

      <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark tb-dark-cust">
                    <th>CEX</th>
                    <th>Crypto</th>
                    <th>USD</th>
                    <th>INR</th>
                </thead>
                <tr>
                  <th>Bitcoin</th>
                  <td *ngIf="BtcCrypto">{{ BtcCrypto.toFixed(8) }}</td>
                  <td>{{ ValUsd | currency:'USD':true }}</td>
                  <td>{{ val | currency:'INR':true }}</td>
                </tr>
                <tr>
                  <th>Bitcash</th>
                  <td *ngIf="BchCrypto">{{ BchCrypto.toFixed(8) }}</td>
                  <td>{{ ValUsd | currency:'USD':true }}</td>
                  <td>{{ val | currency:'INR':true }}</td>
                </tr>
                <tr>
                  <th>Ethereum</th>
                  <td *ngIf="EthCrypto">{{ EthCrypto.toFixed(8) }}</td>
                  <td>{{ ValUsd | currency:'USD':true }}</td>
                  <td>{{ val | currency:'INR':true }}</td>
                </tr>
              </table>
            </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark tb-dark-cust">
                    <th>Zeb</th>
                    <th>Crypto</th>
                    <th>USD</th>
                    <th>INR</th>
                    <th>₹</th>
                    <th>%</th>
                </thead>
                <tr>
                  <th>Bitcoin</th>
                  <td *ngIf="BtcCrypto">
                    {{ BtcCrypto.toFixed(8) }}
                  </td>
                  <td>{{ ZebBchCryptoUsd | currency:'USD':true }}</td>
                  <td>{{ ZebBchCryptoInr | currency:'INR':true }}</td>
        
                  <td [ngClass]="pro" *ngIf="ZebBtcCryptoInr >= val">
                    {{ BtcCryptoDiff | currency:'INR':true }}
                  </td>
                  <td [ngClass]="warn" *ngIf=" val > ZebBtcCryptoInr">
                     {{ BtcCryptoDiff | currency:'INR':true }}
                  </td>
        
                  <td [ngClass]="pro" *ngIf="ZebBtcCryptoInr >= val">
                    {{ BtcCryptoDiffPer.toFixed(6)  }}%
                  </td>
                  <td [ngClass]="warn" *ngIf=" val > ZebBtcCryptoInr">
                    {{ BtcCryptoDiffPer.toFixed(6)  }}%
                  </td>
                </tr>
                <tr>
                    <th>Bitcash</th>
                    <td *ngIf="BchCrypto">
                      {{ BchCrypto.toFixed(8) }}
                    </td>
                    <td>{{ ZebBchCryptoUsd | currency:'USD':true }}</td>
                    <td>{{ ZebBchCryptoInr | currency:'INR':true }}</td>
        
                    <td [ngClass]="pro" *ngIf="ZebBchCryptoInr >= val">
                      {{ BchCryptoDiff | currency:'INR':true }}
                    </td>
                    <td [ngClass]="warn" *ngIf=" val > ZebBchCryptoInr">
                      {{ BchCryptoDiff | currency:'INR':true }}
                    </td>
        
                    <td [ngClass]="pro" *ngIf="ZebBchCryptoInr >= val">
                      {{ BchCryptoDiffPer.toFixed(6)  }}%
                    </td>
                    <td [ngClass]="warn" *ngIf=" val > ZebBchCryptoInr">
                      {{ BchCryptoDiffPer.toFixed(6)  }}%
                    </td>
                </tr>
                <tr>
                    <th>Ethereum</th>
                    <td *ngIf="EthCrypto">
                      {{ EthCrypto.toFixed(8) }}
                    </td>
                    <td>{{ ZebEthCryptoUsd | currency:'USD':true }}</td>
                    <td>{{ ZebBchCryptoInr | currency:'INR':true }}</td>
        
                    <td [ngClass]="pro" *ngIf="ZebEthCryptoInr >= val">
                      {{ EthCryptoDiff | currency:'INR':true }}
                    </td>
                    <td [ngClass]="warn" *ngIf=" val > ZebEthCryptoInr">
                      {{ EthCryptoDiff | currency:'INR':true }}
                    </td>
        
                    <td [ngClass]="pro" *ngIf="ZebEthCryptoInr >= val">
                      {{ EthCryptoDiffPer.toFixed(6)  }}%
                    </td>
                    <td [ngClass]="warn" *ngIf=" val > ZebEthCryptoInr">
                      {{ EthCryptoDiffPer.toFixed(6) }}%
                    </td>
                </tr>
            </table>
        </div>
      </div>
